<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681322335703-3mcf1n68101j5uoku3cvdmji9gd4sb0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681322335703-3mcf1n68101j5uoku3cvdmji9gd4sb0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCNpeT1EahV8izmSRM45zw9Igl3MyrVyAg</string>
	<key>GCM_SENDER_ID</key>
	<string>681322335703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesus.login</string>
	<key>PROJECT_ID</key>
	<string>chatfirebaselogin-c5425</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebaselogin-c5425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681322335703:ios:2e71c8b54eec7c6b074f92</string>
</dict>
</plist>